<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>API How To</title>
    <link href="style.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <!-- page content -->
    <ul class="navigation">
      <li id="NavBar"><a href="/">Home</a></li>
    </ul>
    <div>
      <h1>Using the Open Secrets API</h1>
      <h2>{{this.pageName}}</h2>
    </div>
    <div class="pageLinks">
        <ul class="menu">
            <li><a href="/gettingStarted">Getting started</a></li>
            <li><a href="/makingCalls">How to make calls</a></li>
            <li><a href="/methods">OpenSecrets API Methods</a></li>
        </ul>
    </div>

    {{{body}}}

  </body>
</html>
